<mat-tab-group animationDuration="500ms"  (selectedTabChange)="onTabChange($event)">

  <mat-tab label="Mis Materias">
    <ng-template matTabContent>
      @if (loading()) {
      <div class="flex justify-center items-center mt-20">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      @if (!showNoCourses()) {
      <app-courses-list [courses]="dashboard()?.myCourses || []" (onCancelEnroll)="cancelEnroll($event)">
      </app-courses-list>
      } @else {
      <div class="text-center mt-20 text-gray-500">
        <mat-icon class="!text-6xl !w-16 !h-16 opacity-30 mb-4">school</mat-icon>
        <p class="text-xl font-light">No tienes clases inscritas actualmente.</p>
      </div>
      }
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Estudiantes registrados">
    <ng-template matTabContent>
      @if (loading()) {
      <div class="flex justify-center items-center mt-20">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      @if (!showNoDirectory()) {
      <app-student-directory [data]="publicProgress()"></app-student-directory>
      } @else {
      <div class="text-center mt-20 text-gray-500">
        <mat-icon class="!text-6xl !w-16 !h-16 opacity-30 mb-4">group_off</mat-icon>
        <p class="text-xl font-light">No hay información de estudiantes disponible.</p>
      </div>
      }
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Inscripcion de materias">
    <ng-template matTabContent>
      @if (loading()) {
      <div class="flex justify-center items-center mt-20">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      @if (!showNoAvailable()) {
      <app-course-enrollment (onEnroll)="enroll($event)">
      </app-course-enrollment>
      } @else {
      <div class="text-center mt-20 text-gray-500">
        <mat-icon class="!text-6xl !w-16 !h-16 opacity-30 mb-4">history_edu</mat-icon>
        <p class="text-xl font-light">No hay materias disponibles para inscripción.</p>
      </div>
      }
      }
    </ng-template>
  </mat-tab>

</mat-tab-group>